

<mat-list>
    <mat-list-item>
        <button mat-raised-button (click)="InputDecorator();">Input Decorator</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-raised-button (click)="OutputDecorator();">Output Decorator</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-raised-button (click)="ViewChildDecorator();">ViewChild Decorator</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button mat-raised-button (click)="Service();">Service</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-raised-button (click)="ObservableSubscribe();">Observable Subscribe</button>
    </mat-list-item>

    <mat-list-item>
        <button mat-raised-button (click)="DataTableExample();">Data Table Example</button>
    </mat-list-item>

  </mat-list>
    
    
    
    
